.work{
    margin-bottom: 3rem;
    box-shadow: 0 15px 25px rgba($black, .35);
    border-radius: 5px;
    background-color: $primary;

    display:flex;
    overflow: hidden;
}

.work__preview{
    
    width:310px;
  

    img{
        width:100%;
        display:block;
        height:100%;
        object-fit: cover;
    }
}

.work__content{
    
    max-width: 290px;
    padding:2.5rem;
    display:flex;
    flex-direction: column;
}

.work__title{
    font-size:2.4rem;
    color:$white;
    font-weight: 500;
    margin-bottom: 3rem;

    a{
        color:inherit;
    }
}

.work__description{
    color:#D2D2D2;
    font-weight: 400;
    font-size:1.6rem;
    line-height: 1.68;

    margin-bottom: 3rem;

}

.work__footer{
    margin-top:auto;
    text-align: right;
}

.tags{
    display:flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;

}

.tags__item{
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;

    background-color:#EA8C1E;
    font-size:1.1rem;
    color:$white;
    text-align: center;

    padding:0.4rem 0.9rem;
    line-height: 1.3;
}